/*DEFAULT*/
.title{
    font-size:1em;
    display:block;
    }
    
    .Cards{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    .product_card{
    width:250px;
    height:360px;
    position:relative;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    display:inline-block;
    margin:10px;
    }
    
    .product_card img{
    width:100%;
    height:60%;
    }
    
    .product_card ul{
    width:10%;
    position:absolute;
    top:10px;
    left:-20px;
    z-index:1;
    }
    
    .product_card .views{
    position:absolute;
    top:0;
    right:0;
    color:#fff;
    padding:5px 20px;
    background:#FF324D;
    font-size:10px;
    }
    
    .product_card section{
    padding:10px;
    }
    
    .product_card section .price{
    color:#FF324D;
    padding:0 10px;
    margin-right:10px;
    }
    
    .product_card section strike{
    color:gray;
    padding:0 5px;
    }
    
    .product_card section .discount{
    color:green;
    padding:0 5px;
    }
    
    .product_card section .fa-star{
    color:gray;
    }
    
    .product_card section .checked {
    color: orange;
    }
    
    .product_card section .rating{
    color:rgba(1,1,1,0.5);
    }
    
    .product_icons{
    display:none;
    }
    
    .product_card ul li{
    list-style:none;
    padding:10px 5px;
    padding-left:0;
    color:#FF324D;
    }
    
    .product_card ul li i{
    background:#fff;
    border-radius:50%;
    padding:10px;
    height:15px;
    width:15px;
    text-align:center;
    transition:0.5s;
    }
    
    .product_card ul li i:hover{
    background:#FF324D;
    color:#fff;
    }
    
    
    .product_card:hover  > .product_icons{
    display:block;
    }
    
    
    /* ANIMATION */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }